In [89]:
import sklearn
import os
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split

**Importing Datasets**

**players_21 and players_22**

In [90]:
p21 = pd.read_csv('players_21.csv')
p22 = pd.read_csv('players_22.csv')

C:\Users\skabs\AppData\Local\Temp\ipykernel_21348\3417458140.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  p22 = pd.read_csv('players_22.csv')

**Checking for NAN Values**

In [91]:
p21.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 110 columns):
 #    Column                       Dtype
---   ------                       -----
 0    sofifa_id                    int64
 1    player_url                   object
 2    short_name                   object
 3    long_name                    object
 4    player_positions             object
 5    overall                      int64
 6    potential                    int64
 7    value_eur                    float64
 8    wage_eur                     float64
 9    age                          int64
 10   dob                          object
 11   height_cm                    int64
 12   weight_kg                    int64
 13   club_team_id                 float64
 14   club_name                    object
 15   league_name                  object
 16   league_level                 float64
 17   club_position                object
 18   club_jersey_number           float64
 19   club_loaned_from             object
 20   club_joined                  object
 21   club_contract_valid_until    float64
 22   nationality_id               int64
 23   nationality_name             object
 24   nation_team_id               float64
 25   nation_position              object
 26   nation_jersey_number         float64
 27   preferred_foot               object
 28   weak_foot                    int64
 29   skill_moves                  int64
 30   international_reputation     int64
 31   work_rate                    object
 32   body_type                    object
 33   real_face                    object
 34   release_clause_eur           float64
 35   player_tags                  object
 36   player_traits                object
 37   pace                         float64
 38   shooting                     float64
 39   passing                      float64
 40   dribbling                    float64
 41   defending                    float64
 42   physic                       float64
 43   attacking_crossing           int64
 44   attacking_finishing          int64
 45   attacking_heading_accuracy   int64
 46   attacking_short_passing      int64
 47   attacking_volleys            int64
 48   skill_dribbling              int64
 49   skill_curve                  int64
 50   skill_fk_accuracy            int64
 51   skill_long_passing           int64
 52   skill_ball_control           int64
 53   movement_acceleration        int64
 54   movement_sprint_speed        int64
 55   movement_agility             int64
 56   movement_reactions           int64
 57   movement_balance             int64
 58   power_shot_power             int64
 59   power_jumping                int64
 60   power_stamina                int64
 61   power_strength               int64
 62   power_long_shots             int64
 63   mentality_aggression         int64
 64   mentality_interceptions      int64
 65   mentality_positioning        int64
 66   mentality_vision             int64
 67   mentality_penalties          int64
 68   mentality_composure          int64
 69   defending_marking_awareness  int64
 70   defending_standing_tackle    int64
 71   defending_sliding_tackle     int64
 72   goalkeeping_diving           int64
 73   goalkeeping_handling         int64
 74   goalkeeping_kicking          int64
 75   goalkeeping_positioning      int64
 76   goalkeeping_reflexes         int64
 77   goalkeeping_speed            float64
 78   ls                           object
 79   st                           object
 80   rs                           object
 81   lw                           object
 82   lf                           object
 83   cf                           object
 84   rf                           object
 85   rw                           object
 86   lam                          object
 87   cam                          object
 88   ram                          object
 89   lm                           object
 90   lcm                          object
 91   cm                           object
 92   rcm                          object
 93   rm                           object
 94   lwb                          object
 95   ldm                          object
 96   cdm                          object
 97   rdm                          object
 98   rwb                          object
 99   lb                           object
 100  lcb                          object
 101  cb                           object
 102  rcb                          object
 103  rb                           object
 104  gk                           object
 105  player_face_url              object
 106  club_logo_url                object
 107  club_flag_url                object
 108  nation_logo_url              object
 109  nation_flag_url              object
dtypes: float64(16), int64(44), object(50)
memory usage: 15.9+ MB

In [92]:
useless_columns = ['sofifa_id', 'player_url','short_name','long_name','player_positions','dob','club_name','league_name','club_loaned_from','club_joined','club_position','nationality_name','nation_position','nation_team_id','nation_jersey_number','body_type','real_face','player_tags','player_traits','player_face_url','club_logo_url','club_flag_url','nation_logo_url','nation_flag_url']

In [93]:
p21.drop(useless_columns, axis = 1, inplace=True)

In [94]:
p21.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      18944 non-null  int64
 1   potential                    18944 non-null  int64
 2   value_eur                    18707 non-null  float64
 3   wage_eur                     18719 non-null  float64
 4   age                          18944 non-null  int64
 5   height_cm                    18944 non-null  int64
 6   weight_kg                    18944 non-null  int64
 7   club_team_id                 18719 non-null  float64
 8   league_level                 18719 non-null  float64
 9   club_jersey_number           18719 non-null  float64
 10  club_contract_valid_until    18719 non-null  float64
 11  nationality_id               18944 non-null  int64
 12  preferred_foot               18944 non-null  object
 13  weak_foot                    18944 non-null  int64
 14  skill_moves                  18944 non-null  int64
 15  international_reputation     18944 non-null  int64
 16  work_rate                    18944 non-null  object
 17  release_clause_eur           17949 non-null  float64
 18  pace                         16861 non-null  float64
 19  shooting                     16861 non-null  float64
 20  passing                      16861 non-null  float64
 21  dribbling                    16861 non-null  float64
 22  defending                    16861 non-null  float64
 23  physic                       16861 non-null  float64
 24  attacking_crossing           18944 non-null  int64
 25  attacking_finishing          18944 non-null  int64
 26  attacking_heading_accuracy   18944 non-null  int64
 27  attacking_short_passing      18944 non-null  int64
 28  attacking_volleys            18944 non-null  int64
 29  skill_dribbling              18944 non-null  int64
 30  skill_curve                  18944 non-null  int64
 31  skill_fk_accuracy            18944 non-null  int64
 32  skill_long_passing           18944 non-null  int64
 33  skill_ball_control           18944 non-null  int64
 34  movement_acceleration        18944 non-null  int64
 35  movement_sprint_speed        18944 non-null  int64
 36  movement_agility             18944 non-null  int64
 37  movement_reactions           18944 non-null  int64
 38  movement_balance             18944 non-null  int64
 39  power_shot_power             18944 non-null  int64
 40  power_jumping                18944 non-null  int64
 41  power_stamina                18944 non-null  int64
 42  power_strength               18944 non-null  int64
 43  power_long_shots             18944 non-null  int64
 44  mentality_aggression         18944 non-null  int64
 45  mentality_interceptions      18944 non-null  int64
 46  mentality_positioning        18944 non-null  int64
 47  mentality_vision             18944 non-null  int64
 48  mentality_penalties          18944 non-null  int64
 49  mentality_composure          18944 non-null  int64
 50  defending_marking_awareness  18944 non-null  int64
 51  defending_standing_tackle    18944 non-null  int64
 52  defending_sliding_tackle     18944 non-null  int64
 53  goalkeeping_diving           18944 non-null  int64
 54  goalkeeping_handling         18944 non-null  int64
 55  goalkeeping_kicking          18944 non-null  int64
 56  goalkeeping_positioning      18944 non-null  int64
 57  goalkeeping_reflexes         18944 non-null  int64
 58  goalkeeping_speed            2083 non-null   float64
 59  ls                           18944 non-null  object
 60  st                           18944 non-null  object
 61  rs                           18944 non-null  object
 62  lw                           18944 non-null  object
 63  lf                           18944 non-null  object
 64  cf                           18944 non-null  object
 65  rf                           18944 non-null  object
 66  rw                           18944 non-null  object
 67  lam                          18944 non-null  object
 68  cam                          18944 non-null  object
 69  ram                          18944 non-null  object
 70  lm                           18944 non-null  object
 71  lcm                          18944 non-null  object
 72  cm                           18944 non-null  object
 73  rcm                          18944 non-null  object
 74  rm                           18944 non-null  object
 75  lwb                          18944 non-null  object
 76  ldm                          18944 non-null  object
 77  cdm                          18944 non-null  object
 78  rdm                          18944 non-null  object
 79  rwb                          18944 non-null  object
 80  lb                           18944 non-null  object
 81  lcb                          18944 non-null  object
 82  cb                           18944 non-null  object
 83  rcb                          18944 non-null  object
 84  rb                           18944 non-null  object
 85  gk                           18944 non-null  object
dtypes: float64(14), int64(43), object(29)
memory usage: 12.4+ MB

**Seperating the object columns from the dataset**

In [95]:
p21_object_columns = p21.select_dtypes(include= ['object'])

**Seperating the numeric columns from the dataset**

In [96]:
p21_numeric_columns = p21.select_dtypes(include= ['int', 'int64', 'float'])

In [97]:
p21_position_values = p21_object_columns.drop(['preferred_foot','work_rate'], axis = 1)
p21_object_columns.drop(p21_position_values.columns, axis = 1, inplace=True)

In [98]:
p21_position_values

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89+3,89+3,89+3,92,93,93,93,92,93,93,...,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3
1,91+1,91+1,91+1,89,91,91,91,89,88+3,88+3,...,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3
2,89+2,89+2,89+2,85,87,87,87,85,85+3,85+3,...,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
3,84+3,84+3,84+3,90,89,89,89,90,90+1,90+1,...,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3
4,83+3,83+3,83+3,88,88,88,88,88,89+2,89+2,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,32+2,32+2,32+2,30,30,30,30,30,29+2,29+2,...,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2,15+2
18940,41+2,41+2,41+2,45,44,44,44,45,46+2,46+2,...,48+2,48+2,48+2,47+2,47+2,46+2,46+2,46+2,47+2,15+2
18941,46+1,46+1,46+1,47,46,46,46,47,47,47,...,47,47,47,47,47,46+1,46+1,46+1,47,11+2
18942,47+2,47+2,47+2,49,49,49,49,49,49+2,49+2,...,32+2,32+2,32+2,35+2,33+2,26+2,26+2,26+2,33+2,14+2
18943,47+2,47+2,47+2,49,49,49,49,49,49+2,49+2,...,43+2,43+2,43+2,44+2,43+2,41+2,41+2,41+2,43+2,14+2

**Handling positions_values column**

In [99]:
#WORKS !!!!
# Split the 'rdm' column into 'rdm_base' and 'rdm_modifier'
#p21_position_values[['rdm_base', 'rdm_modifier']] = p21_position_values['rdm'].str.split('+', expand=True)

#p21_position_values[['rdm_base', 'rdm_modifier']].head()

In [100]:
#p21_position_values[p21_position_values.columns] = p21_position_values[p21_position_values.columns].str.split('+').str[0]

#p21_position_values['rdm'].head()

In [101]:
##Seperating the values in the columns so we can handle them as integers
#
##A loop to split and convert columns
#def process_position_columns(df, columns):
#    for column in columns:
#        base_column = f'{column}_base'
#        modifier_column = f'{column}_modifier'
#        
#        df[[base_column, modifier_column]] = df[column].str.split('+', expand=True)
#        #df = df.drop(column, axis=1)
#
#    return df
#
## Columns to process
#columns_to_process = [p21_position_values.columns]
#
#processed_posValues = process_position_columns(p21_position_values, columns_to_process)
#
##Check!!!!!
##Check!!!!!
##Check!!!!!
##Check!!!!!
##Check!!!!!
##Check!!!!!

In [102]:
def remove_modifiers(s):
    if '+' in s:
        return s.split('+')[0]
    if '-' in s:
        return s.split('-')[0]
    return s

# Apply the custom function to all columns using applymap
p21_position_values = p21_position_values.applymap(remove_modifiers)

# Print the modified DataFrame
p21_position_values

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89,89,89,92,93,93,93,92,93,93,...,65,65,65,66,62,52,52,52,62,19
1,91,91,91,89,91,91,91,89,88,88,...,61,61,61,65,61,54,54,54,61,20
2,89,89,89,85,87,87,87,85,85,85,...,65,65,65,64,61,60,60,60,61,19
3,84,84,84,90,89,89,89,90,90,90,...,62,62,62,67,62,49,49,49,62,20
4,83,83,83,88,88,88,88,88,89,89,...,80,80,80,79,75,69,69,69,75,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,32,32,32,30,30,30,30,30,29,29,...,41,41,41,42,45,47,47,47,45,15
18940,41,41,41,45,44,44,44,45,46,46,...,48,48,48,47,47,46,46,46,47,15
18941,46,46,46,47,46,46,46,47,47,47,...,47,47,47,47,47,46,46,46,47,11
18942,47,47,47,49,49,49,49,49,49,49,...,32,32,32,35,33,26,26,26,33,14
18943,47,47,47,49,49,49,49,49,49,49,...,43,43,43,44,43,41,41,41,43,14

In [103]:
#Converting the position values into int type
p21_position_values = p21_position_values.astype('int64')

In [104]:
#Checking the number of null values in each column
p21_position_values.isnull().sum()

ls     0
st     0
rs     0
lw     0
lf     0
cf     0
rf     0
rw     0
lam    0
cam    0
ram    0
lm     0
lcm    0
cm     0
rcm    0
rm     0
lwb    0
ldm    0
cdm    0
rdm    0
rwb    0
lb     0
lcb    0
cb     0
rcb    0
rb     0
gk     0
dtype: int64

**Handling the numeric column**

In [105]:
#Checking the percentage of nan values in the numeric column
nan_percentage = (p21_numeric_columns.isna().sum() / len(p21_numeric_columns)) * 100
nan_percentage

overall                         0.000000
potential                       0.000000
value_eur                       1.251056
wage_eur                        1.187711
age                             0.000000
height_cm                       0.000000
weight_kg                       0.000000
club_team_id                    1.187711
league_level                    1.187711
club_jersey_number              1.187711
club_contract_valid_until       1.187711
nationality_id                  0.000000
weak_foot                       0.000000
skill_moves                     0.000000
international_reputation        0.000000
release_clause_eur              5.252323
pace                           10.995566
shooting                       10.995566
passing                        10.995566
dribbling                      10.995566
defending                      10.995566
physic                         10.995566
attacking_crossing              0.000000
attacking_finishing             0.000000
attacking_heading_accuracy      0.000000
attacking_short_passing         0.000000
attacking_volleys               0.000000
skill_dribbling                 0.000000
skill_curve                     0.000000
skill_fk_accuracy               0.000000
skill_long_passing              0.000000
skill_ball_control              0.000000
movement_acceleration           0.000000
movement_sprint_speed           0.000000
movement_agility                0.000000
movement_reactions              0.000000
movement_balance                0.000000
power_shot_power                0.000000
power_jumping                   0.000000
power_stamina                   0.000000
power_strength                  0.000000
power_long_shots                0.000000
mentality_aggression            0.000000
mentality_interceptions         0.000000
mentality_positioning           0.000000
mentality_vision                0.000000
mentality_penalties             0.000000
mentality_composure             0.000000
defending_marking_awareness     0.000000
defending_standing_tackle       0.000000
defending_sliding_tackle        0.000000
goalkeeping_diving              0.000000
goalkeeping_handling            0.000000
goalkeeping_kicking             0.000000
goalkeeping_positioning         0.000000
goalkeeping_reflexes            0.000000
goalkeeping_speed              89.004434
dtype: float64

In [106]:
p21_numeric_columns.drop(['goalkeeping_speed'], axis = 1, inplace=True) #Removing because it has a high percentage of nan values

In [107]:
#Filling nan values by imputation with Mean/Median
p21_numeric_columns.fillna(p21_numeric_columns.mean(), inplace=True)

In [108]:
p21_numeric_columns.isna().sum()

overall                        0
potential                      0
value_eur                      0
wage_eur                       0
age                            0
height_cm                      0
weight_kg                      0
club_team_id                   0
league_level                   0
club_jersey_number             0
club_contract_valid_until      0
nationality_id                 0
weak_foot                      0
skill_moves                    0
international_reputation       0
release_clause_eur             0
pace                           0
shooting                       0
passing                        0
dribbling                      0
defending                      0
physic                         0
attacking_crossing             0
attacking_finishing            0
attacking_heading_accuracy     0
attacking_short_passing        0
attacking_volleys              0
skill_dribbling                0
skill_curve                    0
skill_fk_accuracy              0
skill_long_passing             0
skill_ball_control             0
movement_acceleration          0
movement_sprint_speed          0
movement_agility               0
movement_reactions             0
movement_balance               0
power_shot_power               0
power_jumping                  0
power_stamina                  0
power_strength                 0
power_long_shots               0
mentality_aggression           0
mentality_interceptions        0
mentality_positioning          0
mentality_vision               0
mentality_penalties            0
mentality_composure            0
defending_marking_awareness    0
defending_standing_tackle      0
defending_sliding_tackle       0
goalkeeping_diving             0
goalkeeping_handling           0
goalkeeping_kicking            0
goalkeeping_positioning        0
goalkeeping_reflexes           0
dtype: int64

**Handling the object column**

In [109]:
#Checking for nan values in the object column
p21_object_columns.isna().sum()

preferred_foot    0
work_rate         0
dtype: int64

In [110]:
#One-hot encoding for 'Preferred foot' and 'Work rate'
p21_object_columns_encoded = pd.get_dummies(p21_object_columns, p21_object_columns.columns, dtype= int)

p21_object_columns_encoded.head()

,preferred_foot_Left,preferred_foot_Right,work_rate_High/High,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium
0,1,0,0,0,0,0,0,0,0,1,0
1,0,1,0,1,0,0,0,0,0,0,0
2,0,1,0,0,1,0,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,0

**Combining the refined Object and Numeric columns**

In [111]:
#The dataframe that we will be using to train our model
p21_refined = pd.concat([p21_numeric_columns, p21_object_columns_encoded,p21_position_values],axis = 1)

p21_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 94 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      18944 non-null  int64
 1   potential                    18944 non-null  int64
 2   value_eur                    18944 non-null  float64
 3   wage_eur                     18944 non-null  float64
 4   age                          18944 non-null  int64
 5   height_cm                    18944 non-null  int64
 6   weight_kg                    18944 non-null  int64
 7   club_team_id                 18944 non-null  float64
 8   league_level                 18944 non-null  float64
 9   club_jersey_number           18944 non-null  float64
 10  club_contract_valid_until    18944 non-null  float64
 11  nationality_id               18944 non-null  int64
 12  weak_foot                    18944 non-null  int64
 13  skill_moves                  18944 non-null  int64
 14  international_reputation     18944 non-null  int64
 15  release_clause_eur           18944 non-null  float64
 16  pace                         18944 non-null  float64
 17  shooting                     18944 non-null  float64
 18  passing                      18944 non-null  float64
 19  dribbling                    18944 non-null  float64
 20  defending                    18944 non-null  float64
 21  physic                       18944 non-null  float64
 22  attacking_crossing           18944 non-null  int64
 23  attacking_finishing          18944 non-null  int64
 24  attacking_heading_accuracy   18944 non-null  int64
 25  attacking_short_passing      18944 non-null  int64
 26  attacking_volleys            18944 non-null  int64
 27  skill_dribbling              18944 non-null  int64
 28  skill_curve                  18944 non-null  int64
 29  skill_fk_accuracy            18944 non-null  int64
 30  skill_long_passing           18944 non-null  int64
 31  skill_ball_control           18944 non-null  int64
 32  movement_acceleration        18944 non-null  int64
 33  movement_sprint_speed        18944 non-null  int64
 34  movement_agility             18944 non-null  int64
 35  movement_reactions           18944 non-null  int64
 36  movement_balance             18944 non-null  int64
 37  power_shot_power             18944 non-null  int64
 38  power_jumping                18944 non-null  int64
 39  power_stamina                18944 non-null  int64
 40  power_strength               18944 non-null  int64
 41  power_long_shots             18944 non-null  int64
 42  mentality_aggression         18944 non-null  int64
 43  mentality_interceptions      18944 non-null  int64
 44  mentality_positioning        18944 non-null  int64
 45  mentality_vision             18944 non-null  int64
 46  mentality_penalties          18944 non-null  int64
 47  mentality_composure          18944 non-null  int64
 48  defending_marking_awareness  18944 non-null  int64
 49  defending_standing_tackle    18944 non-null  int64
 50  defending_sliding_tackle     18944 non-null  int64
 51  goalkeeping_diving           18944 non-null  int64
 52  goalkeeping_handling         18944 non-null  int64
 53  goalkeeping_kicking          18944 non-null  int64
 54  goalkeeping_positioning      18944 non-null  int64
 55  goalkeeping_reflexes         18944 non-null  int64
 56  preferred_foot_Left          18944 non-null  int32
 57  preferred_foot_Right         18944 non-null  int32
 58  work_rate_High/High          18944 non-null  int32
 59  work_rate_High/Low           18944 non-null  int32
 60  work_rate_High/Medium        18944 non-null  int32
 61  work_rate_Low/High           18944 non-null  int32
 62  work_rate_Low/Low            18944 non-null  int32
 63  work_rate_Low/Medium         18944 non-null  int32
 64  work_rate_Medium/High        18944 non-null  int32
 65  work_rate_Medium/Low         18944 non-null  int32
 66  work_rate_Medium/Medium      18944 non-null  int32
 67  ls                           18944 non-null  int64
 68  st                           18944 non-null  int64
 69  rs                           18944 non-null  int64
 70  lw                           18944 non-null  int64
 71  lf                           18944 non-null  int64
 72  cf                           18944 non-null  int64
 73  rf                           18944 non-null  int64
 74  rw                           18944 non-null  int64
 75  lam                          18944 non-null  int64
 76  cam                          18944 non-null  int64
 77  ram                          18944 non-null  int64
 78  lm                           18944 non-null  int64
 79  lcm                          18944 non-null  int64
 80  cm                           18944 non-null  int64
 81  rcm                          18944 non-null  int64
 82  rm                           18944 non-null  int64
 83  lwb                          18944 non-null  int64
 84  ldm                          18944 non-null  int64
 85  cdm                          18944 non-null  int64
 86  rdm                          18944 non-null  int64
 87  rwb                          18944 non-null  int64
 88  lb                           18944 non-null  int64
 89  lcb                          18944 non-null  int64
 90  cb                           18944 non-null  int64
 91  rcb                          18944 non-null  int64
 92  rb                           18944 non-null  int64
 93  gk                           18944 non-null  int64
dtypes: float64(13), int32(11), int64(70)
memory usage: 12.8 MB

In [112]:
#Scaling the new dataframe
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
p21_refined_scaled = scaler.fit_transform(p21_refined)
p21_refined_scaled_df = pd.DataFrame(p21_refined_scaled, columns =p21_refined.columns)
p21_refined_scaled_df

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,club_jersey_number,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,3.902006,3.586563,13.073165,27.857178,1.655055,-1.639556,-0.427506,-0.889589,-0.483897,-0.624556,...,0.823559,0.823559,0.823559,0.872466,0.622566,-0.019489,-0.019489,-0.019489,0.622566,-0.153779
1,3.759192,3.422893,7.809992,10.662997,2.080838,0.851107,1.131240,-0.893246,-0.483897,-0.801490,...,0.535536,0.535536,0.535536,0.799945,0.551203,0.115304,0.115304,0.115304,0.551203,-0.087867
2,3.616378,3.259222,14.047827,11.674420,1.229273,0.411579,0.706127,-0.893694,-0.483897,-0.683534,...,0.823559,0.823559,0.823559,0.727424,0.551203,0.519682,0.519682,0.519682,0.551203,-0.153779
3,3.616378,3.259222,16.776879,13.191553,0.590598,-0.907008,-0.994323,-0.892724,-0.483897,-0.624556,...,0.607542,0.607542,0.607542,0.944986,0.622566,-0.221678,-0.221678,-0.221678,0.622566,-0.087867
4,3.616378,3.259222,16.387015,18.248665,0.803490,-0.027950,-0.710915,-0.893899,-0.483897,-0.211711,...,1.903646,1.903646,1.903646,1.815235,1.550287,1.126250,1.126250,1.126250,1.550287,-0.021955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,-2.667458,-3.123941,-0.368070,-0.412078,-0.899642,-0.613988,-0.710915,1.199161,-0.483897,0.260112,...,-0.904581,-0.904581,-0.904581,-0.868033,-0.590607,-0.356471,-0.356471,-0.356471,-0.590607,-0.417428
18940,-2.667458,-2.960270,-0.368070,-0.412078,-0.899642,-1.053517,-0.994323,1.206159,-0.483897,0.967846,...,-0.400540,-0.400540,-0.400540,-0.505429,-0.447880,-0.423867,-0.423867,-0.423867,-0.447880,-0.417428
18941,-2.667458,-3.942295,-0.371319,-0.361507,0.590598,0.558088,0.564423,1.191864,-0.483897,0.731935,...,-0.472546,-0.472546,-0.472546,-0.505429,-0.447880,-0.423867,-0.423867,-0.423867,-0.447880,-0.681077
18942,-2.667458,-0.668878,-0.360272,-0.437363,-1.751207,-1.493046,-2.411365,-0.858255,3.599992,0.378068,...,-1.552633,-1.552633,-1.552633,-1.375678,-1.446964,-1.771796,-1.771796,-1.771796,-1.446964,-0.483341
18943,-2.667458,-0.668878,-0.360272,-0.437363,-1.751207,-0.907008,-1.419436,-0.858255,3.599992,0.437045,...,-0.760569,-0.760569,-0.760569,-0.722991,-0.733333,-0.760849,-0.760849,-0.760849,-0.733333,-0.483341

In [113]:
p21_correlation = p21_refined_scaled_df.corr(numeric_only=True, method = 'spearman')

In [114]:
pd.set_option('display.max_rows', 100)  # To display all correlations
p21_correlation['overall'].sort_values()

club_team_id                  -0.271938
club_jersey_number            -0.233299
work_rate_Medium/Medium       -0.226299
league_level                  -0.158804
preferred_foot_Right          -0.050195
work_rate_Low/Low             -0.036296
work_rate_Low/Medium          -0.029711
nationality_id                -0.021208
work_rate_Medium/Low          -0.008957
goalkeeping_reflexes           0.014701
work_rate_Low/High             0.018082
goalkeeping_diving             0.018828
goalkeeping_kicking            0.021657
goalkeeping_positioning        0.025230
goalkeeping_handling           0.025393
height_cm                      0.028370
work_rate_High/Low             0.035766
preferred_foot_Left            0.050195
work_rate_Medium/High          0.090454
club_contract_valid_until      0.119447
movement_balance               0.135678
weight_kg                      0.136469
work_rate_High/High            0.138639
work_rate_High/Medium          0.138971
weak_foot                      0.210958
movement_acceleration          0.216062
pace                           0.226510
movement_sprint_speed          0.229200
movement_agility               0.294915
defending_sliding_tackle       0.301871
power_jumping                  0.306929
mentality_penalties            0.334170
defending_standing_tackle      0.334699
attacking_finishing            0.339649
defending                      0.361852
power_strength                 0.362373
defending_marking_awareness    0.366960
attacking_volleys              0.374235
skill_fk_accuracy              0.379567
mentality_interceptions        0.380910
international_reputation       0.384261
skill_moves                    0.385230
attacking_heading_accuracy     0.400713
gk                             0.407848
lcb                            0.430161
rcb                            0.430161
cb                             0.430161
mentality_aggression           0.438405
skill_curve                    0.444308
mentality_positioning          0.446884
shooting                       0.449804
power_long_shots               0.451360
power_stamina                  0.459446
attacking_crossing             0.480473
physic                         0.499027
age                            0.500642
lb                             0.505737
rb                             0.505737
skill_dribbling                0.520664
mentality_vision               0.521233
skill_long_passing             0.527734
rdm                            0.534302
cdm                            0.534302
ldm                            0.534302
lwb                            0.555360
rwb                            0.555360
power_shot_power               0.562387
rw                             0.567013
lw                             0.567013
st                             0.569866
ls                             0.569866
rs                             0.569866
lf                             0.575249
cf                             0.575249
rf                             0.575249
lam                            0.590557
cam                            0.590557
ram                            0.590557
potential                      0.591488
lm                             0.605654
rm                             0.605654
dribbling                      0.616523
skill_ball_control             0.636380
attacking_short_passing        0.637890
passing                        0.650457
rcm                            0.660278
cm                             0.660278
lcm                            0.660278
mentality_composure            0.734099
wage_eur                       0.776155
movement_reactions             0.866181
value_eur                      0.877198
release_clause_eur             0.878079
overall                        1.000000
Name: overall, dtype: float64

In [115]:
p21_corr_df = pd.DataFrame(p21_correlation['overall'].sort_values())
p21_corr_df = p21_corr_df.transpose()
p21_corr_df

,club_team_id,club_jersey_number,work_rate_Medium/Medium,league_level,preferred_foot_Right,work_rate_Low/Low,work_rate_Low/Medium,nationality_id,work_rate_Medium/Low,goalkeeping_reflexes,...,passing,rcm,cm,lcm,mentality_composure,wage_eur,movement_reactions,value_eur,release_clause_eur,overall
overall,-0.271938,-0.233299,-0.226299,-0.158804,-0.050195,-0.036296,-0.029711,-0.021208,-0.008957,0.014701,...,0.650457,0.660278,0.660278,0.660278,0.734099,0.776155,0.866181,0.877198,0.878079,1.0

In [116]:
threshold = 0.2
columns_to_drop = [col for col in corr_df.columns if (corr_df[col] < threshold).any()]
columns_to_drop
p21_refined_scaled_df.drop(columns_to_drop, axis = 1, inplace=True)
p21_refined_scaled_df

,overall,potential,value_eur,wage_eur,age,weak_foot,skill_moves,international_reputation,release_clause_eur,pace,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,3.902006,3.586563,13.073165,27.857178,1.655055,1.594026,2.135802,10.801035,13.695696,1.672470,...,0.823559,0.823559,0.823559,0.872466,0.622566,-0.019489,-0.019489,-0.019489,0.622566,-0.153779
1,3.759192,3.422893,7.809992,10.662997,2.080838,1.594026,3.440521,10.801035,7.312715,2.058457,...,0.535536,0.535536,0.535536,0.799945,0.551203,0.115304,0.115304,0.115304,0.551203,-0.087867
2,3.616378,3.259222,14.047827,11.674420,1.229273,1.594026,2.135802,8.037314,13.042079,0.996993,...,0.823559,0.823559,0.823559,0.727424,0.551203,0.519682,0.519682,0.519682,0.551203,-0.153779
3,3.616378,3.259222,16.776879,13.191553,0.590598,3.093020,3.440521,10.801035,16.565484,2.251450,...,0.607542,0.607542,0.607542,0.944986,0.622566,-0.221678,-0.221678,-0.221678,0.622566,-0.087867
4,3.616378,3.259222,16.387015,18.248665,0.803490,3.093020,2.135802,8.037314,16.003782,0.804000,...,1.903646,1.903646,1.903646,1.815235,1.550287,1.126250,1.126250,1.126250,1.550287,-0.021955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,-2.667458,-3.123941,-0.368070,-0.412078,-0.899642,-1.403962,-0.473636,-0.253847,-0.432955,-0.932941,...,-0.904581,-0.904581,-0.904581,-0.868033,-0.590607,-0.356471,-0.356471,-0.356471,-0.590607,-0.417428
18940,-2.667458,-2.960270,-0.368070,-0.412078,-0.899642,-1.403962,-0.473636,-0.253847,-0.431423,-0.932941,...,-0.400540,-0.400540,-0.400540,-0.505429,-0.447880,-0.423867,-0.423867,-0.423867,-0.447880,-0.417428
18941,-2.667458,-3.942295,-0.371319,-0.361507,0.590598,-1.403962,-0.473636,-0.253847,-0.433977,-0.257464,...,-0.472546,-0.472546,-0.472546,-0.505429,-0.447880,-0.423867,-0.423867,-0.423867,-0.447880,-0.681077
18942,-2.667458,-0.668878,-0.360272,-0.437363,-1.751207,-1.403962,-0.473636,-0.253847,-0.421926,0.225020,...,-1.552633,-1.552633,-1.552633,-1.375678,-1.446964,-1.771796,-1.771796,-1.771796,-1.446964,-0.483341
18943,-2.667458,-0.668878,-0.360272,-0.437363,-1.751207,-1.403962,-0.473636,-0.253847,-0.421926,-0.353960,...,-0.760569,-0.760569,-0.760569,-0.722991,-0.733333,-0.760849,-0.760849,-0.760849,-0.733333,-0.483341

**Training the Model**

In [117]:
#Training with a VotingRegressor
from sklearn.ensemble import VotingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split

In [118]:
#Loading the data
X = p21_refined_scaled_df.drop(['overall'], axis = 1)
y = p21_refined_scaled_df['overall']

In [119]:
# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

**Training with VotingRegressor using LinearRegression, SVR, KNeighborsRegressor**

In [120]:
# Create individual regression models
svr = SVR()
lr = LinearRegression()
knn_regressor = KNeighborsRegressor(n_neighbors=5)  # You can adjust the number of neighbors

In [121]:
# Create a VotingRegressor using the individual models
voting_regressor = VotingRegressor(estimators=[('SupportVector', svr),
                                              ('linear_regression', lr),
                                              ('knn', knn_regressor)])

# Train the VotingRegressor on the training data
voting_regressor.fit(X_train, y_train)

VotingRegressor(estimators=[('SupportVector', SVR()),
                            ('linear_regression', LinearRegression()),
                            ('knn', KNeighborsRegressor())])

In [122]:
# Make predictions on the test set
y_pred = voting_regressor.predict(X_test)

In [123]:
from sklearn.model_selection import cross_val_score

In [124]:
#Performing cross-validation on the model
scores = cross_val_score(voting_regressor, X, y, cv=5, scoring='neg_mean_squared_error')

# Calculate the mean and standard deviation of the scores
mean_score = scores.mean()
std_score = scores.std()

print("Cross-Validation Scores: ", scores)
print("Mean Score: ", mean_score)
print("Standard Deviation: ", std_score)

Cross-Validation Scores:  [-0.74402171 -0.03408545 -0.02860458 -0.03295163 -0.28871333]
Mean Score:  -0.22567534091909502
Standard Deviation:  0.27761222847881123

**Training using a Random Forest Regressor**

In [125]:
from sklearn.ensemble import RandomForestRegressor
# Split the data into a training set and a test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Random Forest Regressor
RFR = RandomForestRegressor(n_estimators=500, random_state=42)  # You can adjust hyperparameters

# Train the model on the training data
RFR.fit(X_train, y_train)

# Make predictions on the test set
y_pred = RFR.predict(X_test)

In [126]:
#Performing cross-validation on the model
scores = cross_val_score(RFR, X, y, cv=5, scoring='neg_mean_squared_error')

# Calculate the mean and standard deviation of the scores
mean_score = scores.mean()
std_score = scores.std()

print("Cross-Validation Scores: ", scores)
print("Mean Score: ", mean_score)
print("Standard Deviation: ", std_score)

Cross-Validation Scores:  [-0.57833373 -0.07143178 -0.02920944 -0.0418091  -0.55251683]
Mean Score:  -0.2546601744298175
Standard Deviation:  0.25423981370453663

In [127]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

# Create a Gradient Boosting Regressor
gbr = GradientBoostingRegressor(init=svr, n_estimators=500, learning_rate=0.1, max_depth=3)

# Train the model on the training data
gbr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = gbr.predict(X_test)

In [128]:
#Performing cross-validation on the model
scores = cross_val_score(gbr, X, y, cv=5, scoring='neg_mean_squared_error')

# Calculate the mean and standard deviation of the scores
mean_score = scores.mean()
std_score = scores.std()

print("Cross-Validation Scores: ", scores)
print("Mean Score: ", mean_score)
print("Standard Deviation: ", std_score)

Cross-Validation Scores:  [-0.66973361 -0.00792428 -0.00727667 -0.00982257 -0.14500892]
Mean Score:  -0.1679532071643241
Standard Deviation:  0.2564143197349301

**Testing**

In [129]:
p22.drop(useless_columns, axis = 1, inplace=True)

In [130]:
p22.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 86 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      19239 non-null  int64
 1   potential                    19239 non-null  int64
 2   value_eur                    19165 non-null  float64
 3   wage_eur                     19178 non-null  float64
 4   age                          19239 non-null  int64
 5   height_cm                    19239 non-null  int64
 6   weight_kg                    19239 non-null  int64
 7   club_team_id                 19178 non-null  float64
 8   league_level                 19178 non-null  float64
 9   club_jersey_number           19178 non-null  float64
 10  club_contract_valid_until    19178 non-null  float64
 11  nationality_id               19239 non-null  int64
 12  preferred_foot               19239 non-null  object
 13  weak_foot                    19239 non-null  int64
 14  skill_moves                  19239 non-null  int64
 15  international_reputation     19239 non-null  int64
 16  work_rate                    19239 non-null  object
 17  release_clause_eur           18063 non-null  float64
 18  pace                         17107 non-null  float64
 19  shooting                     17107 non-null  float64
 20  passing                      17107 non-null  float64
 21  dribbling                    17107 non-null  float64
 22  defending                    17107 non-null  float64
 23  physic                       17107 non-null  float64
 24  attacking_crossing           19239 non-null  int64
 25  attacking_finishing          19239 non-null  int64
 26  attacking_heading_accuracy   19239 non-null  int64
 27  attacking_short_passing      19239 non-null  int64
 28  attacking_volleys            19239 non-null  int64
 29  skill_dribbling              19239 non-null  int64
 30  skill_curve                  19239 non-null  int64
 31  skill_fk_accuracy            19239 non-null  int64
 32  skill_long_passing           19239 non-null  int64
 33  skill_ball_control           19239 non-null  int64
 34  movement_acceleration        19239 non-null  int64
 35  movement_sprint_speed        19239 non-null  int64
 36  movement_agility             19239 non-null  int64
 37  movement_reactions           19239 non-null  int64
 38  movement_balance             19239 non-null  int64
 39  power_shot_power             19239 non-null  int64
 40  power_jumping                19239 non-null  int64
 41  power_stamina                19239 non-null  int64
 42  power_strength               19239 non-null  int64
 43  power_long_shots             19239 non-null  int64
 44  mentality_aggression         19239 non-null  int64
 45  mentality_interceptions      19239 non-null  int64
 46  mentality_positioning        19239 non-null  int64
 47  mentality_vision             19239 non-null  int64
 48  mentality_penalties          19239 non-null  int64
 49  mentality_composure          19239 non-null  int64
 50  defending_marking_awareness  19239 non-null  int64
 51  defending_standing_tackle    19239 non-null  int64
 52  defending_sliding_tackle     19239 non-null  int64
 53  goalkeeping_diving           19239 non-null  int64
 54  goalkeeping_handling         19239 non-null  int64
 55  goalkeeping_kicking          19239 non-null  int64
 56  goalkeeping_positioning      19239 non-null  int64
 57  goalkeeping_reflexes         19239 non-null  int64
 58  goalkeeping_speed            2132 non-null   float64
 59  ls                           19239 non-null  object
 60  st                           19239 non-null  object
 61  rs                           19239 non-null  object
 62  lw                           19239 non-null  object
 63  lf                           19239 non-null  object
 64  cf                           19239 non-null  object
 65  rf                           19239 non-null  object
 66  rw                           19239 non-null  object
 67  lam                          19239 non-null  object
 68  cam                          19239 non-null  object
 69  ram                          19239 non-null  object
 70  lm                           19239 non-null  object
 71  lcm                          19239 non-null  object
 72  cm                           19239 non-null  object
 73  rcm                          19239 non-null  object
 74  rm                           19239 non-null  object
 75  lwb                          19239 non-null  object
 76  ldm                          19239 non-null  object
 77  cdm                          19239 non-null  object
 78  rdm                          19239 non-null  object
 79  rwb                          19239 non-null  object
 80  lb                           19239 non-null  object
 81  lcb                          19239 non-null  object
 82  cb                           19239 non-null  object
 83  rcb                          19239 non-null  object
 84  rb                           19239 non-null  object
 85  gk                           19239 non-null  object
dtypes: float64(14), int64(43), object(29)
memory usage: 12.6+ MB

In [131]:
p22_object_columns = p22.select_dtypes(include= ['object'])

In [132]:
p22_numeric_columns = p22.select_dtypes(include= ['int', 'int64', 'float'])

In [133]:
p22_position_values = p22_object_columns.drop(['preferred_foot','work_rate'], axis = 1)
p22_object_columns.drop(p22_position_values.columns, axis = 1, inplace=True)

In [134]:
p22_position_values

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89+3,89+3,89+3,92,93,93,93,92,93,93,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
1,90+2,90+2,90+2,85,88,88,88,85,86+3,86+3,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
2,90+1,90+1,90+1,88,89,89,89,88,86+3,86+3,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
3,83+3,83+3,83+3,90,88,88,88,90,89+2,89+2,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
4,83+3,83+3,83+3,88,87,87,87,88,89+2,89+2,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,44+2,44+2,44+2,46,45,45,45,46,46+2,46+2,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
19235,45+2,45+2,45+2,47,46,46,46,47,47+2,47+2,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
19236,45+2,45+2,45+2,46,46,46,46,46,47+2,47+2,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
19237,47+2,47+2,47+2,47,47,47,47,47,45+2,45+2,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
19238,45+2,45+2,45+2,47,47,47,47,47,47+2,47+2,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

In [135]:
p22_position_values = p22_position_values.applymap(remove_modifiers)

# Print the modified DataFrame
p22_position_values

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89,89,89,92,93,93,93,92,93,93,...,64,64,64,66,61,50,50,50,61,19
1,90,90,90,85,88,88,88,85,86,86,...,66,66,66,64,61,60,60,60,61,19
2,90,90,90,88,89,89,89,88,86,86,...,59,59,59,63,60,53,53,53,60,20
3,83,83,83,90,88,88,88,90,89,89,...,63,63,63,67,62,50,50,50,62,20
4,83,83,83,88,87,87,87,88,89,89,...,80,80,80,79,75,69,69,69,75,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,44,44,44,46,45,45,45,46,46,46,...,46,46,46,48,48,46,46,46,48,15
19235,45,45,45,47,46,46,46,47,47,47,...,46,46,46,49,48,44,44,44,48,14
19236,45,45,45,46,46,46,46,46,47,47,...,46,46,46,47,47,45,45,45,47,12
19237,47,47,47,47,47,47,47,47,45,45,...,29,29,29,33,32,26,26,26,32,15
19238,45,45,45,47,47,47,47,47,47,47,...,44,44,44,45,45,41,41,41,45,16

In [136]:
#Converting the position values into int type
p22_position_values = p22_position_values.astype('int64')

In [137]:
#Checking the number of null values in each column
p22_position_values.isnull().sum()

ls     0
st     0
rs     0
lw     0
lf     0
cf     0
rf     0
rw     0
lam    0
cam    0
ram    0
lm     0
lcm    0
cm     0
rcm    0
rm     0
lwb    0
ldm    0
cdm    0
rdm    0
rwb    0
lb     0
lcb    0
cb     0
rcb    0
rb     0
gk     0
dtype: int64

In [138]:
#Checking the percentage of nan values in the numeric column
nan_percentage = (p22_numeric_columns.isna().sum() / len(p22_numeric_columns)) * 100
nan_percentage

overall                         0.000000
potential                       0.000000
value_eur                       0.384635
wage_eur                        0.317064
age                             0.000000
height_cm                       0.000000
weight_kg                       0.000000
club_team_id                    0.317064
league_level                    0.317064
club_jersey_number              0.317064
club_contract_valid_until       0.317064
nationality_id                  0.000000
weak_foot                       0.000000
skill_moves                     0.000000
international_reputation        0.000000
release_clause_eur              6.112584
pace                           11.081657
shooting                       11.081657
passing                        11.081657
dribbling                      11.081657
defending                      11.081657
physic                         11.081657
attacking_crossing              0.000000
attacking_finishing             0.000000
attacking_heading_accuracy      0.000000
attacking_short_passing         0.000000
attacking_volleys               0.000000
skill_dribbling                 0.000000
skill_curve                     0.000000
skill_fk_accuracy               0.000000
skill_long_passing              0.000000
skill_ball_control              0.000000
movement_acceleration           0.000000
movement_sprint_speed           0.000000
movement_agility                0.000000
movement_reactions              0.000000
movement_balance                0.000000
power_shot_power                0.000000
power_jumping                   0.000000
power_stamina                   0.000000
power_strength                  0.000000
power_long_shots                0.000000
mentality_aggression            0.000000
mentality_interceptions         0.000000
mentality_positioning           0.000000
mentality_vision                0.000000
mentality_penalties             0.000000
mentality_composure             0.000000
defending_marking_awareness     0.000000
defending_standing_tackle       0.000000
defending_sliding_tackle        0.000000
goalkeeping_diving              0.000000
goalkeeping_handling            0.000000
goalkeeping_kicking             0.000000
goalkeeping_positioning         0.000000
goalkeeping_reflexes            0.000000
goalkeeping_speed              88.918343
dtype: float64

In [139]:
p22_numeric_columns.drop(['goalkeeping_speed'], axis = 1, inplace=True) #Removing because it has a high percentage of nan values

In [140]:
#Filling nan values by imputation with Mean/Median
p22_numeric_columns.fillna(p22_numeric_columns.mean(), inplace=True)

In [141]:
#Checking for nan values in the object column
p22_object_columns.isna().sum()

preferred_foot    0
work_rate         0
dtype: int64

In [142]:
#One-hot encoding for 'Preferred foot' and 'Work rate'
p22_object_columns_encoded = pd.get_dummies(p22_object_columns, p22_object_columns.columns, dtype= int)

p22_object_columns_encoded.head()

,preferred_foot_Left,preferred_foot_Right,work_rate_High/High,work_rate_High/Low,work_rate_High/Medium,work_rate_Low/High,work_rate_Low/Low,work_rate_Low/Medium,work_rate_Medium/High,work_rate_Medium/Low,work_rate_Medium/Medium
0,1,0,0,0,0,0,0,0,0,1,0
1,0,1,0,0,1,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,0,0
3,0,1,0,0,1,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,0

In [143]:
#The dataframe that we will be using to train our model
p22_refined = pd.concat([p22_numeric_columns, p22_object_columns_encoded,p22_position_values],axis = 1)

p22_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 94 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      19239 non-null  int64
 1   potential                    19239 non-null  int64
 2   value_eur                    19239 non-null  float64
 3   wage_eur                     19239 non-null  float64
 4   age                          19239 non-null  int64
 5   height_cm                    19239 non-null  int64
 6   weight_kg                    19239 non-null  int64
 7   club_team_id                 19239 non-null  float64
 8   league_level                 19239 non-null  float64
 9   club_jersey_number           19239 non-null  float64
 10  club_contract_valid_until    19239 non-null  float64
 11  nationality_id               19239 non-null  int64
 12  weak_foot                    19239 non-null  int64
 13  skill_moves                  19239 non-null  int64
 14  international_reputation     19239 non-null  int64
 15  release_clause_eur           19239 non-null  float64
 16  pace                         19239 non-null  float64
 17  shooting                     19239 non-null  float64
 18  passing                      19239 non-null  float64
 19  dribbling                    19239 non-null  float64
 20  defending                    19239 non-null  float64
 21  physic                       19239 non-null  float64
 22  attacking_crossing           19239 non-null  int64
 23  attacking_finishing          19239 non-null  int64
 24  attacking_heading_accuracy   19239 non-null  int64
 25  attacking_short_passing      19239 non-null  int64
 26  attacking_volleys            19239 non-null  int64
 27  skill_dribbling              19239 non-null  int64
 28  skill_curve                  19239 non-null  int64
 29  skill_fk_accuracy            19239 non-null  int64
 30  skill_long_passing           19239 non-null  int64
 31  skill_ball_control           19239 non-null  int64
 32  movement_acceleration        19239 non-null  int64
 33  movement_sprint_speed        19239 non-null  int64
 34  movement_agility             19239 non-null  int64
 35  movement_reactions           19239 non-null  int64
 36  movement_balance             19239 non-null  int64
 37  power_shot_power             19239 non-null  int64
 38  power_jumping                19239 non-null  int64
 39  power_stamina                19239 non-null  int64
 40  power_strength               19239 non-null  int64
 41  power_long_shots             19239 non-null  int64
 42  mentality_aggression         19239 non-null  int64
 43  mentality_interceptions      19239 non-null  int64
 44  mentality_positioning        19239 non-null  int64
 45  mentality_vision             19239 non-null  int64
 46  mentality_penalties          19239 non-null  int64
 47  mentality_composure          19239 non-null  int64
 48  defending_marking_awareness  19239 non-null  int64
 49  defending_standing_tackle    19239 non-null  int64
 50  defending_sliding_tackle     19239 non-null  int64
 51  goalkeeping_diving           19239 non-null  int64
 52  goalkeeping_handling         19239 non-null  int64
 53  goalkeeping_kicking          19239 non-null  int64
 54  goalkeeping_positioning      19239 non-null  int64
 55  goalkeeping_reflexes         19239 non-null  int64
 56  preferred_foot_Left          19239 non-null  int32
 57  preferred_foot_Right         19239 non-null  int32
 58  work_rate_High/High          19239 non-null  int32
 59  work_rate_High/Low           19239 non-null  int32
 60  work_rate_High/Medium        19239 non-null  int32
 61  work_rate_Low/High           19239 non-null  int32
 62  work_rate_Low/Low            19239 non-null  int32
 63  work_rate_Low/Medium         19239 non-null  int32
 64  work_rate_Medium/High        19239 non-null  int32
 65  work_rate_Medium/Low         19239 non-null  int32
 66  work_rate_Medium/Medium      19239 non-null  int32
 67  ls                           19239 non-null  int64
 68  st                           19239 non-null  int64
 69  rs                           19239 non-null  int64
 70  lw                           19239 non-null  int64
 71  lf                           19239 non-null  int64
 72  cf                           19239 non-null  int64
 73  rf                           19239 non-null  int64
 74  rw                           19239 non-null  int64
 75  lam                          19239 non-null  int64
 76  cam                          19239 non-null  int64
 77  ram                          19239 non-null  int64
 78  lm                           19239 non-null  int64
 79  lcm                          19239 non-null  int64
 80  cm                           19239 non-null  int64
 81  rcm                          19239 non-null  int64
 82  rm                           19239 non-null  int64
 83  lwb                          19239 non-null  int64
 84  ldm                          19239 non-null  int64
 85  cdm                          19239 non-null  int64
 86  rdm                          19239 non-null  int64
 87  rwb                          19239 non-null  int64
 88  lb                           19239 non-null  int64
 89  lcb                          19239 non-null  int64
 90  cb                           19239 non-null  int64
 91  rcb                          19239 non-null  int64
 92  rb                           19239 non-null  int64
 93  gk                           19239 non-null  int64
dtypes: float64(13), int32(11), int64(70)
memory usage: 13.0 MB

In [144]:
#Scaling the new dataframe
p22_refined_scaled = scaler.fit_transform(p22_refined)
p22_refined_scaled_df = pd.DataFrame(p22_refined_scaled, columns =p22_refined.columns)
p22_refined_scaled_df

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,club_team_id,league_level,club_jersey_number,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,3.957501,3.601780,9.889601,15.998022,1.851089,-1.646467,-0.416315,-0.929914,-0.4746,0.506404,...,0.731039,0.731039,0.731039,0.851651,0.532431,-0.168529,-0.168529,-0.168529,0.532431,-0.150436
1,3.812154,3.437470,15.350958,13.425844,1.429869,0.539166,0.856805,-0.930872,-0.4746,-0.668061,...,0.874397,0.874397,0.874397,0.707442,0.532431,0.504293,0.504293,0.504293,0.532431,-0.150436
2,3.666806,3.273160,5.546836,13.425844,2.272309,0.830584,1.139720,-0.931056,-0.4746,-0.779914,...,0.372643,0.372643,0.372643,0.635337,0.461418,0.033318,0.033318,0.033318,0.461418,-0.084537
3,3.666806,3.273160,16.601147,13.425844,0.798039,-0.917923,-0.982145,-0.929914,-0.4746,-0.612134,...,0.659360,0.659360,0.659360,0.923755,0.603443,-0.168529,-0.168529,-0.168529,0.603443,-0.084537
4,3.666806,3.273160,16.140551,17.541329,1.008649,-0.043669,-0.699230,-0.931074,-0.4746,-0.220646,...,1.877905,1.877905,1.877905,1.789011,1.526608,1.109834,1.109834,1.109834,1.526608,-0.018637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,-2.728494,-3.134932,-0.365905,-0.412474,-0.676231,-0.189378,-1.547976,1.140780,-0.4746,0.841965,...,-0.559186,-0.559186,-0.559186,-0.446232,-0.390734,-0.437658,-0.437658,-0.437658,-0.390734,-0.414034
19235,-2.728494,-1.984762,-0.360641,-0.438196,-1.308061,-0.917923,-0.699230,-0.923065,-0.4746,0.338623,...,-0.559186,-0.559186,-0.559186,-0.374128,-0.390734,-0.572223,-0.572223,-0.572223,-0.390734,-0.479934
19236,-2.728494,-2.642002,-0.361957,-0.438196,-0.886841,-0.480796,-0.416315,1.114820,-0.4746,0.562331,...,-0.559186,-0.559186,-0.559186,-0.518337,-0.461746,-0.504940,-0.504940,-0.504940,-0.461746,-0.611733
19237,-2.728494,-1.820452,-0.360641,-0.438196,-1.308061,-1.209340,-1.265061,1.114820,-0.4746,-0.500280,...,-1.777732,-1.777732,-1.777732,-1.527802,-1.526936,-1.783303,-1.783303,-1.783303,-1.526936,-0.414034
19238,-2.728494,-1.820452,-0.360641,-0.438196,-1.308061,-2.083593,-1.972350,1.149968,-0.4746,-0.444353,...,-0.702544,-0.702544,-0.702544,-0.662546,-0.603772,-0.774069,-0.774069,-0.774069,-0.603772,-0.348135

In [145]:
p22_refined_scaled_df = p22_refined_scaled_df[p21_refined_scaled_df.columns]

In [146]:
p22_refined_scaled_df

,overall,potential,value_eur,wage_eur,age,weak_foot,skill_moves,international_reputation,release_clause_eur,pace,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,3.957501,3.601780,9.889601,15.998022,1.851089,1.569295,2.146241,10.525295,9.591752,1.628331,...,0.731039,0.731039,0.731039,0.851651,0.532431,-0.168529,-0.168529,-0.168529,0.532431,-0.150436
1,3.812154,3.437470,15.350958,13.425844,1.429869,1.569295,2.146241,10.525295,13.244084,0.949332,...,0.874397,0.874397,0.874397,0.707442,0.532431,0.504293,0.504293,0.504293,0.532431,-0.150436
2,3.666806,3.273160,5.546836,13.425844,2.272309,1.569295,3.448937,10.525295,5.380179,1.822331,...,0.372643,0.372643,0.372643,0.635337,0.461418,0.033318,0.033318,0.033318,0.461418,-0.084537
3,3.666806,3.273160,16.601147,13.425844,0.798039,3.058403,3.448937,10.525295,16.109335,2.210331,...,0.659360,0.659360,0.659360,0.923755,0.603443,-0.168529,-0.168529,-0.168529,0.603443,-0.084537
4,3.666806,3.273160,16.140551,17.541329,1.008649,3.058403,2.146241,7.830520,15.660560,0.755332,...,1.877905,1.877905,1.877905,1.789011,1.526608,1.109834,1.109834,1.109834,1.526608,-0.018637
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,-2.728494,-3.134932,-0.365905,-0.412474,-0.676231,0.080187,-0.459150,-0.253804,-0.363165,-0.990667,...,-0.559186,-0.559186,-0.559186,-0.446232,-0.390734,-0.437658,-0.437658,-0.437658,-0.390734,-0.414034
19235,-2.728494,-1.984762,-0.360641,-0.438196,-1.308061,0.080187,-0.459150,-0.253804,-0.357711,-0.893667,...,-0.559186,-0.559186,-0.559186,-0.374128,-0.390734,-0.572223,-0.572223,-0.572223,-0.390734,-0.479934
19236,-2.728494,-2.642002,-0.361957,-0.438196,-0.886841,0.080187,-0.459150,-0.253804,-0.358953,-0.796667,...,-0.559186,-0.559186,-0.559186,-0.518337,-0.461746,-0.504940,-0.504940,-0.504940,-0.461746,-0.611733
19237,-2.728494,-1.820452,-0.360641,-0.438196,-1.308061,0.080187,-0.459150,-0.253804,-0.354535,-0.020668,...,-1.777732,-1.777732,-1.777732,-1.527802,-1.526936,-1.783303,-1.783303,-1.783303,-1.526936,-0.414034
19238,-2.728494,-1.820452,-0.360641,-0.438196,-1.308061,0.080187,-0.459150,-0.253804,-0.356054,-0.020668,...,-0.702544,-0.702544,-0.702544,-0.662546,-0.603772,-0.774069,-0.774069,-0.774069,-0.603772,-0.348135

In [147]:
#Loading the data
X = p22_refined_scaled_df.drop(['overall'], axis = 1)
y = p22_refined_scaled_df['overall']

In [150]:
from sklearn.ensemble import RandomForestRegressor
# Split the data into a training set and a test set
X_test = p22_refined_scaled_df.drop(['overall'], axis = 1)

# Make predictions on the test set
y_pred = RFR.predict(X_test)

In [151]:
#Performing cross-validation on the model
scores = cross_val_score(RFR, X, y, cv=5, scoring='neg_mean_squared_error')

# Calculate the mean and standard deviation of the scores
mean_score = scores.mean()
std_score = scores.std()

print("Cross-Validation Scores: ", scores)
print("Mean Score: ", mean_score)
print("Standard Deviation: ", std_score)

Cross-Validation Scores:  [-0.73692933 -0.06440842 -0.03305585 -0.04763524 -0.54388445]
Mean Score:  -0.2851826594172119
Standard Deviation:  0.2965601609379376

**Saving the model**

In [152]:
import pickle

In [153]:
with open('FIFA_Rating_Generator.pkl', 'wb') as file:
    pickle.dump(RFR, file)